In [1]:
!pip install pyspark findspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 29 kB/s
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 11.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=487b881582f9605776f5335a5318726db2c5335be449d49de6296a888f585022
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark, findspark
Successfully installed findspark-2.0.1 py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import findspark
findspark.init()
import pyspark

from pyspark import SparkContext
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession


sc = SparkContext.getOrCreate()
ss = SparkSession(sc).builder.config("spark.driver.memory", "6g").getOrCreate()

import pyspark.sql.functions as f
#import pyspark

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
weather_df = ss.read.option('header', True).csv("/content/drive/MyDrive/BigDataManagement/final data/weather-ta2.csv").limit(20000).repartition('station_id')
weather_df.show()

+-----+-----------+----------+-------+-------+
|  _c0| station_id|      date|tmp_val|dew_val|
+-----+-----------+----------+-------+-------+
|10000|08524099999|2016-01-01|    175|    147|
|10001|08524099999|2016-01-02|    174|    159|
|10002|08524099999|2016-01-03|    182|    160|
|10003|08524099999|2016-01-04|    177|    162|
|10004|08524099999|2016-01-05|    170|    167|
|10005|08524099999|2016-01-06|    149|     76|
|10006|08524099999|2016-01-07|    139|    101|
|10007|08524099999|2016-01-08|    160|    138|
|10008|08524099999|2016-01-09|    150|    109|
|10009|08524099999|2016-01-10|    152|     92|
|10010|08524099999|2016-01-11|    174|    158|
|10011|08524099999|2016-01-12|    177|    172|
|10012|08524099999|2016-01-13|    175|    163|
|10013|08524099999|2016-01-14|    172|    156|
|10014|08524099999|2016-01-15|    175|    153|
|10015|08524099999|2016-01-16|    179|    168|
|10016|08524099999|2016-01-17|    144|    131|
|10017|08524099999|2016-01-18|    150|    139|
|10018|08524099999|2016-01-19|    132|    121|
|10019|08524099999|2016-01-20|    177|    161|
+-----+-----------+----------+-------+-------+
only showing top 20 rows

In [6]:
stocks_df=ss.read.option('header', True).csv('/content/drive/MyDrive/BigDataManagement/final data/stocks-ta2.csv').repartition('date')
stocks_df.show()

+----+--------------------+----------+------+
| _c0|          stock_name|      date| price|
+----+--------------------+----------+------+
| 229|1004.Asien--Austr...|2016-08-17|  74.8|
| 498|1004.Asien--Austr...|2017-05-14| 66.49|
| 677|1004.Asien--Austr...|2017-12-05| 46.52|
|1229|10056.Asien--Aust...|2016-08-17| 471.0|
|1498|10056.Asien--Aust...|2017-05-14| 393.0|
|1677|10056.Asien--Aust...|2017-12-05| 342.0|
|2229|10300.Asien--Aust...|2016-08-17| 563.0|
|2498|10300.Asien--Aust...|2017-05-14| 816.0|
|2677|10300.Asien--Aust...|2017-12-05|1011.0|
|3229|10319.Asien--Aust...|2016-08-17|1536.0|
|3498|10319.Asien--Aust...|2017-05-14|1990.0|
|3677|10319.Asien--Aust...|2017-12-05|2550.0|
|4229|10349.Asien--Aust...|2016-08-17|1040.0|
|4498|10349.Asien--Aust...|2017-05-14|1327.0|
|4677|10349.Asien--Aust...|2017-12-05|2017.0|
|5229|10359.Asien--Aust...|2016-08-17|  80.0|
|5498|10359.Asien--Aust...|2017-05-14|  73.0|
|5677|10359.Asien--Aust...|2017-12-05|  66.0|
|6229|1051.Asien--Austr...|2016-08-17|   7.7|
|6498|1051.Asien--Austr...|2017-05-14|  8.18|
+----+--------------------+----------+------+
only showing top 20 rows

In [9]:
weather_df = weather_df.select('station_id', 'date', 'tmp_val')

-----

**The code below is slow version**

import timeit

v1 = timeit.default_timer()

weather_df.registerTempTable("df")
 
mylist = ss.sql("""
SELECT DISTINCT  u1.station_id,
    u2.station_id
FROM df as u1 JOIN df as u2 ON u1.station_id> u2.station_id;
""").collect()
 
v2 = timeit.default_timer()

print(v2-v1)

weather_df.columns

i, j = mylist[0]

from pyspark.sql.functions import col
from pyspark.sql.types import StructType

v1 = timeit.default_timer()

schema = weather_df.filter(weather_df.station_id == i).alias('a').join(weather_df.filter(weather_df.station_id == j)\
                                         .withColumnRenamed('station_id', 'station_id_2')\
                                         .withColumnRenamed('date', 'date_2')\
                                         .withColumnRenamed('tmp_val', 'tmp_val_2').alias('b'),
                                            f.col("a.date") == f.col("b.date_2"), 'inner').schema

df = ss.createDataFrame([], schema)

for a, b in mylist:
    df = df.union(weather_df.filter(weather_df.station_id == a).alias('a').join(weather_df.filter(weather_df.station_id == b)\
                                         .withColumnRenamed('station_id', 'station_id_2')\
                                         .withColumnRenamed('date', 'date_2')\
                                         .withColumnRenamed('tmp_val', 'tmp_val_2').alias('b'),
                                            f.col("a.date") == f.col("b.date_2"), 'inner'))
    
df.show()

v2 = timeit.default_timer()
print(v2-v1)

----

----

This code is faster version

In [24]:
#v1 = timeit.default_timer()

df = weather_df.alias('a').join(weather_df.withColumnRenamed('station_id', 'station_id_2')\
                                          .withColumnRenamed('date', 'date_2')\
                                          .withColumnRenamed('tmp_val', 'tmp_val_2').alias('b'),
                                            f.col("a.date") == f.col("b.date_2"), 'inner').filter('station_id > station_id_2')
df.show()

#v2 = timeit.default_timer()
#print(v2-v1)

+-----------+----------+-------+------------+----------+---------+
| station_id|      date|tmp_val|station_id_2|    date_2|tmp_val_2|
+-----------+----------+-------+------------+----------+---------+
|08524099999|2016-01-01|    175| 02741099999|2016-01-01|       22|
|08524099999|2016-01-01|    175| 03066099999|2016-01-01|       18|
|08524099999|2016-01-01|    175| 01016099999|2016-01-01|        4|
|08524099999|2016-01-01|    175| 06207099999|2016-01-01|       79|
|08524099999|2016-01-01|    175| 04202299999|2016-01-01|     -200|
|08524099999|2016-01-01|    175| 02845099999|2016-01-01|      -32|
|08524099999|2016-01-01|    175| 06190099999|2016-01-01|       30|
|08524099999|2016-01-01|    175| 04231099999|2016-01-01|     -289|
|08524099999|2016-01-01|    175| 02520099999|2016-01-01|        6|
|08524099999|2016-01-01|    175| 03862099999|2016-01-01|       23|
|08524099999|2016-01-02|    174| 02741099999|2016-01-02|      -36|
|08524099999|2016-01-02|    174| 03066099999|2016-01-02|       69|
|08524099999|2016-01-02|    174| 01016099999|2016-01-02|        6|
|08524099999|2016-01-02|    174| 06207099999|2016-01-02|       69|
|08524099999|2016-01-02|    174| 04202299999|2016-01-02|     -194|
|08524099999|2016-01-02|    174| 02845099999|2016-01-02|      -91|
|08524099999|2016-01-02|    174| 06190099999|2016-01-02|      -10|
|08524099999|2016-01-02|    174| 04231099999|2016-01-02|     -294|
|08524099999|2016-01-02|    174| 02520099999|2016-01-02|        4|
|08524099999|2016-01-02|    174| 03862099999|2016-01-02|      108|
+-----------+----------+-------+------------+----------+---------+
only showing top 20 rows

In [25]:
df.count()

190000

----

In [26]:
df.show()

+-----------+----------+-------+------------+----------+---------+
| station_id|      date|tmp_val|station_id_2|    date_2|tmp_val_2|
+-----------+----------+-------+------------+----------+---------+
|08524099999|2016-01-01|    175| 02741099999|2016-01-01|       22|
|08524099999|2016-01-01|    175| 03066099999|2016-01-01|       18|
|08524099999|2016-01-01|    175| 01016099999|2016-01-01|        4|
|08524099999|2016-01-01|    175| 06207099999|2016-01-01|       79|
|08524099999|2016-01-01|    175| 04202299999|2016-01-01|     -200|
|08524099999|2016-01-01|    175| 02845099999|2016-01-01|      -32|
|08524099999|2016-01-01|    175| 06190099999|2016-01-01|       30|
|08524099999|2016-01-01|    175| 04231099999|2016-01-01|     -289|
|08524099999|2016-01-01|    175| 02520099999|2016-01-01|        6|
|08524099999|2016-01-01|    175| 03862099999|2016-01-01|       23|
|08524099999|2016-01-02|    174| 02741099999|2016-01-02|      -36|
|08524099999|2016-01-02|    174| 03066099999|2016-01-02|       69|
|08524099999|2016-01-02|    174| 01016099999|2016-01-02|        6|
|08524099999|2016-01-02|    174| 06207099999|2016-01-02|       69|
|08524099999|2016-01-02|    174| 04202299999|2016-01-02|     -194|
|08524099999|2016-01-02|    174| 02845099999|2016-01-02|      -91|
|08524099999|2016-01-02|    174| 06190099999|2016-01-02|      -10|
|08524099999|2016-01-02|    174| 04231099999|2016-01-02|     -294|
|08524099999|2016-01-02|    174| 02520099999|2016-01-02|        4|
|08524099999|2016-01-02|    174| 03862099999|2016-01-02|      108|
+-----------+----------+-------+------------+----------+---------+
only showing top 20 rows

In [27]:
df = df.select('station_id', 'station_id_2', 'date', 'tmp_val', 'tmp_val_2').cache()
weather_df.unpersist()

In [28]:
from pyspark.sql.types import StringType, FloatType

def max(a,b):
  if float(a) > float(b):
    return float(a)
  else:
    return float(b)

def min(a,b):
  if float(a) > float(b):
    return float(b)
  else:
    return float(a)

def avg(a,b):
  return (float(a) + float(b))/2

max_udf = f.udf(max, FloatType())
min_udf = f.udf(min, FloatType())
avg_udf = f.udf(avg, FloatType())

In [29]:
df = df.withColumn('min', min_udf('tmp_val', 'tmp_val_2'))\
  .withColumn('avg', avg_udf('tmp_val', 'tmp_val_2'))\
  .withColumn('max', max_udf('tmp_val', 'tmp_val_2'))

In [30]:
df.show()

+-----------+------------+----------+-------+---------+------+-----+-----+
| station_id|station_id_2|      date|tmp_val|tmp_val_2|   min|  avg|  max|
+-----------+------------+----------+-------+---------+------+-----+-----+
|08524099999| 02741099999|2016-01-01|    175|       22|  22.0| 98.5|175.0|
|08524099999| 03066099999|2016-01-01|    175|       18|  18.0| 96.5|175.0|
|08524099999| 01016099999|2016-01-01|    175|        4|   4.0| 89.5|175.0|
|08524099999| 06207099999|2016-01-01|    175|       79|  79.0|127.0|175.0|
|08524099999| 04202299999|2016-01-01|    175|     -200|-200.0|-12.5|175.0|
|08524099999| 02845099999|2016-01-01|    175|      -32| -32.0| 71.5|175.0|
|08524099999| 06190099999|2016-01-01|    175|       30|  30.0|102.5|175.0|
|08524099999| 04231099999|2016-01-01|    175|     -289|-289.0|-57.0|175.0|
|08524099999| 02520099999|2016-01-01|    175|        6|   6.0| 90.5|175.0|
|08524099999| 03862099999|2016-01-01|    175|       23|  23.0| 99.0|175.0|
|08524099999| 02741099999|2016-01-02|    174|      -36| -36.0| 69.0|174.0|
|08524099999| 03066099999|2016-01-02|    174|       69|  69.0|121.5|174.0|
|08524099999| 01016099999|2016-01-02|    174|        6|   6.0| 90.0|174.0|
|08524099999| 06207099999|2016-01-02|    174|       69|  69.0|121.5|174.0|
|08524099999| 04202299999|2016-01-02|    174|     -194|-194.0|-10.0|174.0|
|08524099999| 02845099999|2016-01-02|    174|      -91| -91.0| 41.5|174.0|
|08524099999| 06190099999|2016-01-02|    174|      -10| -10.0| 82.0|174.0|
|08524099999| 04231099999|2016-01-02|    174|     -294|-294.0|-60.0|174.0|
|08524099999| 02520099999|2016-01-02|    174|        4|   4.0| 89.0|174.0|
|08524099999| 03862099999|2016-01-02|    174|      108| 108.0|141.0|174.0|
+-----------+------------+----------+-------+---------+------+-----+-----+
only showing top 20 rows

In [31]:
def unqiue_combination(a, b):
  col = [a, b]
  col.sort()
  return '_'.join(col)

my_udf = f.udf(unqiue_combination, StringType())

In [32]:
df = df.withColumn('combo_id', my_udf('station_id', 'station_id_2')).select('combo_id', 'date', 'min', 'avg', 'max').repartition('date').cache()

In [33]:
df.show()

+--------------------+----------+------+-----+-----+
|            combo_id|      date|   min|  avg|  max|
+--------------------+----------+------+-----+-----+
|02741099999_08524...|2016-08-17| 139.0|177.5|216.0|
|03066099999_08524...|2016-08-17| 135.0|175.5|216.0|
|01016099999_08524...|2016-08-17|  32.0|124.0|216.0|
|06207099999_08524...|2016-08-17| 168.0|192.0|216.0|
|04202299999_08524...|2016-08-17|  56.0|136.0|216.0|
|02845099999_08524...|2016-08-17|  94.0|155.0|216.0|
|06190099999_08524...|2016-08-17| 150.0|183.0|216.0|
|04231099999_08524...|2016-08-17|  52.0|134.0|216.0|
|02520099999_08524...|2016-08-17| 136.0|176.0|216.0|
|03862099999_08524...|2016-08-17| 127.0|171.5|216.0|
|02741099999_08524...|2017-05-14|  -5.0| 85.0|175.0|
|03066099999_08524...|2017-05-14| 126.0|150.5|175.0|
|01016099999_08524...|2017-05-14|-125.0| 25.0|175.0|
|06207099999_08524...|2017-05-14| 115.0|145.0|175.0|
|04202299999_08524...|2017-05-14| -11.0| 82.0|175.0|
|02845099999_08524...|2017-05-14| -33.0| 71.0|175.0|
|06190099999_08524...|2017-05-14| 110.0|142.5|175.0|
|04231099999_08524...|2017-05-14|  26.0|100.5|175.0|
|02520099999_08524...|2017-05-14|  62.0|118.5|175.0|
|03862099999_08524...|2017-05-14| 135.0|155.0|175.0|
+--------------------+----------+------+-----+-----+
only showing top 20 rows

------

In [34]:
stocks_df=ss.read.option('header', True).csv('/content/drive/MyDrive/BigDataManagement/final data/stocks-ta2.csv').limit(20000)
stocks_df.show()

+---+--------------------+----------+-----+
|_c0|          stock_name|      date|price|
+---+--------------------+----------+-----+
|  0|1004.Asien--Austr...|2016-01-01| 57.5|
|  1|1004.Asien--Austr...|2016-01-02| 57.5|
|  2|1004.Asien--Austr...|2016-01-03| 57.5|
|  3|1004.Asien--Austr...|2016-01-04| 57.8|
|  4|1004.Asien--Austr...|2016-01-05|57.17|
|  5|1004.Asien--Austr...|2016-01-06|57.65|
|  6|1004.Asien--Austr...|2016-01-07| 58.4|
|  7|1004.Asien--Austr...|2016-01-08|56.44|
|  8|1004.Asien--Austr...|2016-01-09|56.44|
|  9|1004.Asien--Austr...|2016-01-10|56.44|
| 10|1004.Asien--Austr...|2016-01-11| 56.0|
| 11|1004.Asien--Austr...|2016-01-12|56.72|
| 12|1004.Asien--Austr...|2016-01-13|56.11|
| 13|1004.Asien--Austr...|2016-01-14|55.08|
| 14|1004.Asien--Austr...|2016-01-15|56.97|
| 15|1004.Asien--Austr...|2016-01-16|56.97|
| 16|1004.Asien--Austr...|2016-01-17|56.97|
| 17|1004.Asien--Austr...|2016-01-18|54.69|
| 18|1004.Asien--Austr...|2016-01-19|56.33|
| 19|1004.Asien--Austr...|2016-01-20|56.89|
+---+--------------------+----------+-----+
only showing top 20 rows

In [35]:
stocks_df = stocks_df.withColumn('price', f.col('price').cast(FloatType())).repartition('date')

In [37]:
from pyspark.sql.types import FloatType, DoubleType

big_df = stocks_df.alias('a').join(df.alias('b'), f.col('a.date') == f.col('b.date'), 'inner').repartition('stock_name', 'combo_id')
#big_df = big_df.withColumn("cosine_sim", f.lit(1.0).cast("float"))
big_df = big_df.select('a.date', 'stock_name', 'combo_id', 'price', 'avg', 'min', 'max').cache()

df.unpersist()
stocks_df.unpersist()

DataFrame[_c0: string, stock_name: string, date: string, price: float]

In [38]:
list(big_df.schema)

[StructField(date,StringType,true),
 StructField(stock_name,StringType,true),
 StructField(combo_id,StringType,true),
 StructField(price,FloatType,true),
 StructField(avg,FloatType,true),
 StructField(min,FloatType,true),
 StructField(max,FloatType,true)]

In [39]:
big_df.columns

['date', 'stock_name', 'combo_id', 'price', 'avg', 'min', 'max']

In [40]:
big_df.count()

3800000

----

In [ ]:
##big_df.show()

+----------+--------------------+--------------------+------+---+---+---+----------+
|      date|          stock_name|            combo_id| price|avg|min|max|cosine_sim|
+----------+--------------------+--------------------+------+---+---+---+----------+
|2016-01-01|11006.Asien--Aust...|01016099999_02520...| 318.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10990.Asien--Aust...|01016099999_02520...| 520.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10968.Asien--Aust...|01016099999_02520...| 960.5|5.0|4.0|6.0|       1.0|
|2016-01-01|10949.Asien--Aust...|01016099999_02520...|1289.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10905.Asien--Aust...|01016099999_02520...|1328.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10882.Asien--Aust...|01016099999_02520...|3110.0|5.0|4.0|6.0|       1.0|
|2016-01-01|1081.Asien--Austr...|01016099999_02520...| 0.415|5.0|4.0|6.0|       1.0|
|2016-01-01|10780.Asien--Aust...|01016099999_02520...|2220.0|5.0|4.0|6.0|       1.0|
|2016-01-01|1076.Asien--Austr...|01016099999_02520...|  6.15|5.0|4.0|6.0|       1.0|
|2016-01-01|10698.Asien--Aust...|01016099999_02520...| 525.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10679.Asien--Aust...|01016099999_02520...|2030.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10652.Asien--Aust...|01016099999_02520...|1440.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10612.Asien--Aust...|01016099999_02520...|1265.0|5.0|4.0|6.0|       1.0|
|2016-01-01|1051.Asien--Austr...|01016099999_02520...|  6.46|5.0|4.0|6.0|       1.0|
|2016-01-01|10359.Asien--Aust...|01016099999_02520...|  33.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10349.Asien--Aust...|01016099999_02520...| 815.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10319.Asien--Aust...|01016099999_02520...|1679.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10300.Asien--Aust...|01016099999_02520...| 613.0|5.0|4.0|6.0|       1.0|
|2016-01-01|10056.Asien--Aust...|01016099999_02520...| 368.0|5.0|4.0|6.0|       1.0|
|2016-01-01|1004.Asien--Austr...|01016099999_02520...|  57.5|5.0|4.0|6.0|       1.0|
+----------+--------------------+--------------------+------+---+---+---+----------+
only showing top 20 rows

----

#### This code cell is redundant 

from pyspark.sql.types import ArrayType, FloatType
import functools
def fudf(val):
    return functools.reduce(lambda x, y:x+y, val)

flattenUdf = f.udf(fudf, ArrayType(FloatType()))

-----

In [50]:
bigdf_grouped = big_df.groupBy(["stock_name", 'combo_id']).agg(f.collect_list("price").alias('price'),
                                                               f.collect_list("avg").alias('avg'),
                                                               f.collect_list("min").alias('min'),
                                                               f.collect_list("max").alias('max')).cache()
                                                          #.select("stock_name",'combo_id',
                                                          #        flattenUdf("min").alias("min"),
                                                          #        flattenUdf("max").alias("max"),
                                                          #        flattenUdf("avg").alias("avg"),
                                                          #        flattenUdf("price").alias("price"))
big_df.unpersist()

DataFrame[date: string, stock_name: string, combo_id: string, price: float, avg: float, min: float, max: float]

In [46]:
import numpy as np

def cosine(a, b):
  return float(np.dot(np.array(a), np.array(b)) / (np.linalg.norm(np.array(a)) * np.linalg.norm(np.array(b))))

In [47]:
cosine_udf = f.udf(cosine, FloatType())

----

In [53]:
df_final = bigdf_grouped.select('stock_name', 'combo_id', cosine_udf('price', 'max').alias('price_max_cosine'),
                                                          cosine_udf('price', 'min').alias('price_min_cosine'),
                                                          cosine_udf('price', 'avg').alias('price_avg_cosine')).cache()
bigdf_grouped.unpersist()

DataFrame[stock_name: string, combo_id: string, price: array<float>, avg: array<float>, min: array<float>, max: array<float>]

In [54]:
df_final.orderBy('price_avg_cosine', ascending=False).show()

+--------------------+--------------------+----------------+----------------+----------------+
|          stock_name|            combo_id|price_max_cosine|price_min_cosine|price_avg_cosine|
+--------------------+--------------------+----------------+----------------+----------------+
|10679.Asien--Aust...|06207099999_08524...|       0.9889081|       0.9046139|      0.96800274|
|10679.Asien--Aust...|03066099999_08524...|       0.9891048|       0.8502761|       0.9667747|
|10698.Asien--Aust...|06207099999_08524...|      0.98504055|       0.9026194|       0.9648411|
|10612.Asien--Aust...|06207099999_08524...|       0.9860405|      0.90060776|       0.9646363|
|10679.Asien--Aust...|03862099999_08524...|       0.9890492|       0.8536509|       0.9641612|
|1004.Asien--Austr...|06207099999_08524...|      0.97955555|      0.90912265|       0.9641316|
|10882.Asien--Aust...|06207099999_08524...|      0.98494434|      0.89949673|      0.96351963|
|10698.Asien--Aust...|03066099999_08524...|       0.9851558|       0.8478256|       0.9632366|
|1004.Asien--Austr...|03066099999_08524...|       0.9797471|       0.8572473|      0.96274436|
|10882.Asien--Aust...|03066099999_08524...|       0.9851203|      0.84618956|       0.9626548|
|10612.Asien--Aust...|03066099999_08524...|       0.9862366|       0.8434534|       0.9624867|
|10698.Asien--Aust...|03862099999_08524...|       0.9851175|      0.85466576|       0.9619785|
|10882.Asien--Aust...|03862099999_08524...|       0.9851358|       0.8532747|      0.96146977|
|11006.Asien--Aust...|06207099999_08524...|      0.98211145|      0.89852095|      0.96140003|
|1051.Asien--Austr...|06207099999_08524...|       0.9785287|      0.90386534|         0.96138|
|10612.Asien--Aust...|03862099999_08524...|      0.98617196|      0.84947574|       0.9607231|
|11006.Asien--Aust...|03066099999_08524...|       0.9823006|       0.8460341|       0.9606717|
|1051.Asien--Austr...|03066099999_08524...|       0.9786198|      0.85161823|      0.96005476|
|1004.Asien--Austr...|03862099999_08524...|      0.97976893|      0.85852194|      0.95993596|
|11006.Asien--Aust...|03862099999_08524...|       0.9822169|       0.8528562|      0.95941067|
+--------------------+--------------------+----------------+----------------+----------------+
only showing top 20 rows

----

EVERYTHING BELOW IS REDUNDANT

----

In [ ]:
from pyspark.sql.functions import PandasUDFType, pandas_udf

In [ ]:
import numpy as np

# Names of columns 
a, b = "price", "avg" #('min', 'max', 'avg')
cosine_sim_col = "cosine_sim"

@pandas_udf(big_df.schema, PandasUDFType.GROUPED_MAP)
def cos_sim(df):
    df[cosine_sim_col] = float(np.dot(df[a], df[b]) / (np.linalg.norm(df[a]) * np.linalg.norm(df[b])))
    return df

In [ ]:
df_final = big_df.groupby(["stock_name", "combo_id"]).apply(cos_sim)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/pandas/group_ops.py:84: UserWarning: It is preferred to use 'applyInPandas' over this API. This API will be deprecated in the future releases. See SPARK-28264 for more details.
  "more details.", UserWarning)

In [ ]:
df_final.count()

3800000

In [ ]:
df_final.write.mode('overwrite').csv('/content/drive/MyDrive/BigDataManagement/final data/cosines.csv')

In [ ]:
df_final.groupBy(["stock_name", "combo_id"]).agg(f.avg("cosine_sim").alias("cossim")).orderBy('cossim', ascending=False).show()

+--------------------+--------------------+------------------+
|          stock_name|            combo_id|            cossim|
+--------------------+--------------------+------------------+
|10679.Asien--Aust...|06207099999_08524...|0.9680027365684509|
|10679.Asien--Aust...|03066099999_08524...|0.9667748808860779|
|10698.Asien--Aust...|06207099999_08524...|0.9648412466049194|
|10612.Asien--Aust...|06207099999_08524...| 0.964636504650116|
|10679.Asien--Aust...|03862099999_08524...|0.9641613364219666|
|1004.Asien--Austr...|06207099999_08524...|0.9641316533088684|
|10882.Asien--Aust...|06207099999_08524...|0.9635195732116699|
|10698.Asien--Aust...|03066099999_08524...|0.9632366299629211|
|1004.Asien--Austr...|03066099999_08524...|0.9627444744110107|
|10882.Asien--Aust...|03066099999_08524...|0.9626548290252686|
|10612.Asien--Aust...|03066099999_08524...|0.9624868631362915|
|10698.Asien--Aust...|03862099999_08524...| 0.961978554725647|
|10882.Asien--Aust...|03862099999_08524...|0.9614697694778442|
|11006.Asien--Aust...|06207099999_08524...|0.9613999724388123|
|1051.Asien--Austr...|06207099999_08524...|0.9613802433013916|
|10612.Asien--Aust...|03862099999_08524...|0.9607232213020325|
|11006.Asien--Aust...|03066099999_08524...|0.9606717228889465|
|1051.Asien--Austr...|03066099999_08524...|0.9600548148155212|
|1004.Asien--Austr...|03862099999_08524...|0.9599359631538391|
|11006.Asien--Aust...|03862099999_08524...|0.9594107270240784|
+--------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
df_final.groupBy(["stock_name", "combo_id"]).agg(f.avg("cosine_sim").alias("cossim")).orderBy('cossim', ascending=False).count()

3800